body {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

.background-image {
    background-image: url('../images/geometary.jpg');
    background-size: 80% auto;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container {
    background-color: rgba(255, 255, 255, 0.759);
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.form-geo {
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 20px ;
}


.form-geo label {
    display: block;
    margin-bottom: 5px;
}

.form-geo input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.button {
    background-color: navy;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: aqua;
}